<launch>
    <arg name="namespace" default="basic_geometry_pig"/>

    <group ns="$(arg namespace)">
        <!-- Robot description -->
        <param name="robot_description" command="$(find xacro)/xacro $(find little_pig_description)/urdf/basic_geometry_pig.urdf.xacro"/>

        <!-- Read the joint positions, then publish to TF -->
        <node name="vehicle_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
            <param name="publish_frequency" value="30.0"/>            
        </node>
    </group>
</launch>