<launch>

    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find little_pig_control)/config/basic_geometry_pig_control.yaml" command="load"/>

    <!-- load the controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/basic_geometry_pig" 
        args="front_left_wheel_position_controller front_right_wheel_position_controller left_steering_postion_contoller right_steering_postion_contoller joint_state_controller"/>

    <!-- convert joint states to TF transforms for rviz, etc -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        respawn="false" output="screen">
        <remap from="/joint_states" to="/basic_geometry_pig/joint_states" />
    </node>
    
</launch>